.login-container {
    width: 40%;
    margin: 12px auto;
    border: 1px solid #eeeeee;
    /* box-shadow: 0 2px 3px #cccccc; */
    box-shadow: 0 5px 10px #cccccc;
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
}

.title-header {
    /* background-color: antiquewhite; */
    background-color: #55b9be;
    margin: -15px -15px 15px -15px;
    height: 50px;
    text-align: center;
    line-height: 1rem;
    color: #fff;
}

.title-header h5{
    padding-top: 10px;
}   

.forgot-password,
.forgot-password a {
  text-align: right;
  color: #167bff;
  margin: 5px;
  cursor: pointer;
  font-size: 13px;
}
.registration, .registration a {
    color: #167bff;
    cursor: pointer;
}
.btn-app-primary{
    background-color: #55b9be;
    border: 1px solid #55b9be;
}
.btn-app-primary:hover{
    background-color: #55b9be;
    border: 1px solid #55b9be;
}
.btn-app-outline{
    background-color: rgba(190, 191, 191, 0.8588235294117647);
    border: 1px solid #55b9be;
}
.btn-app-outline:hover{
    background-color: #55b9be !important;
    border: 1px solid #55b9be !important;
}
.font-13{
    font-size: 13px;
}